body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://tympanus.net/Tutorials/CustomLoginFormStyling/images/wood_pattern.jpg');
  background-color: rgb(179, 145, 105);
}
